# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
.eggs/
pip-wheel-metadata/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media/
staticfiles/
static/

# Local development
.idea/
*.swp
*.swo
.vscode/
*.bak

# Secret settings
.env

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Node.js (if any front-end dependencies exist)
node_modules/

# Pytest
.cache/

# Celery
celerybeat-schedule

# Virtualenv
*.env
*.venv

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints/

# System Files
*.lock
*.tmp
*.temp
